@font-face{
  font-family: OpenSans;
  src: url(../fonts/OpenSans-Regular.ttf);
  font-size: 10px;
}

@font-face{
  font-family: OpenSansBold;
  src: url(../fonts/OpenSans-Bold.ttf);
  font-size: 10px;
}

body, input { 
  font-family: OpenSans, Lucida Grande, sans-serif;
  font-size: 12px;
  color: #000; 
}

.dashboard-window{
  text-align: center;
  height: auto;
  width: 350px;
  background-color: #ffffff;
  background-size: 200px 200px;
  background-image: url("paper-fibers.png");

  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.clearfix {
  overflow: auto;
}

.time {
  display: inline-block;
  float: left;
  padding-top: 5px;
  padding-left: 10px;
}

.time-text {
  font-size: 9.5px;
  color: #323232;
}

.session-time {
  font-size: 9.5px;
  color: #323232;
}

p {
  display: block;
  margin-top: 30px;
}

.graphic {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: solid 4px;
  border-color: #c9c9c9
}

.style-3 {
  font-family: OpenSansBold;
  font-size: 10px;
  color: #323232;
  padding: 3px;
  border: none;
  vertical-align: middle;
  background-color: transparent;
  margin-right: 3px;
  position: relative;
  top: -10;
  transition: background-color 0.3s;
}

object {
  display: inline-block;
}

.icon-statsnegro {
  padding-top: 3px;  
  height: 30px;
  width: 30px;
}

.icon-notes {
  padding-top: 3px;  
  height: 30px;
  width: 30px;
}

.icon-write {
  padding-top: 3px;  
  height: 30px;
  width: 30px;
}

.button {
  display: inline-block;
  vertical-align: middle;
}

.button:hover .style-3{
  color: #5d5d5d;
}

.notes-button {
  border-right: solid 2px;
  border-color: #c9c9c9;
}

.progress-button {
  border-right: solid 2px;
  border-color: #c9c9c9;
}

input:focus {
    outline: none !important;
    border: none;
    box-shadow: none;
}